/* ===== Global Design ===== */

*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:'Poppins', sans-serif;
    background:#f8f9fa;
    color:#212529;
}


img{
    max-width:100%;
    height:auto;
}


/* ===== Navbar ===== */

.navbar{
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.navbar-brand{
    letter-spacing:1px;
}

.nav-link{
    font-weight:600;
    transition:0.3s;
}

.nav-link:hover{
    color:#ffc107 !important;
}


/* ===== Container ===== */

.container{
    width:85%;
    margin:auto;
}


/* ===== Hero Section ===== */

.hero{
    height:500px;

    background:
    linear-gradient(rgba(0,0,0,0.55),
    rgba(0,0,0,0.55)),
    url("/static/images/banner.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    border-radius:25px;
    margin-top:25px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
}


.hero h1{
    font-size:55px;
    font-weight:800;
    color:white !important;
}


.hero p{
    font-size:24px;
    color:#eee;
}


/* ===== Food Cards ===== */

.card{

    border:none;
    border-radius:20px;
    overflow:hidden;

    transition:0.3s;

    box-shadow:0 5px 20px rgba(0,0,0,0.12);
}


.card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(0,0,0,0.25);
}


.card img,
.card-img-top{
    width:100%;
    height:220px;
    object-fit:contain;
    background:#ffffff;
    padding:5px;
    transition:0.4s;
}


.card:hover img{

    transform:none;
}


/* ===== Buttons ===== */

.btn{

    border-radius:30px;
    padding:10px 25px;
    font-weight:bold;

    transition:0.3s;
}


.btn:hover{

    transform:scale(1.05);
}


/* ===== Forms ===== */

.form-control{

    border-radius:25px;
    padding:12px;
}


/* ===== Footer ===== */

footer{

    margin-top:50px;
    border-radius:25px 25px 0 0;

}


/* ===== Food Container ===== */

.food-container{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;

}


.food-card{

    width:280px;

}


/* ===== Badge ===== */

.badge{

    font-size:14px;

}


/* ===== Mobile Responsive ===== */


@media(max-width:767px){


.container{

    width:95%;
}


.hero{

    height:350px;

}


.hero h1{

    font-size:32px;

}


.hero p{

    font-size:18px;

}


.food-container{

    flex-direction:column;
    align-items:center;

}


.food-card{

    width:100%;
    max-width:350px;

}


.btn{

    width:100%;

}


.food-img{
    width:100%;
    height:220px;
    object-fit:contain;
    background:white;
    padding:10px;

}
}