{% extends 'Base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container mt-5">

<h1 class="text-center fw-bold mb-5">
💳 Checkout
</h1>


<div class="row">


<!-- Customer Details -->

<div class="col-lg-7">

<div class="checkout-card">


<h3 class="mb-4">
👤 Customer Details
</h3>


<form action="{{ url_for('place_order') }}" method="POST">


<label class="form-label">
Customer Name
</label>

<input type="text"
name="customer_name"
class="form-control mb-3"
placeholder="Enter your name"
required>


<label class="form-label">
Table Number
</label>

<input type="number"
name="table_number"
class="form-control mb-3"
placeholder="Enter table number"
required>


<label class="form-label">
Payment Method
</label>


<select name="payment"
class="form-control mb-4">

<option>Cash</option>
<option>UPI</option>
<option>Card</option>

</select>


<button class="btn btn-success w-100">
Place Order ✅
</button>


</form>


</div>

</div>



<!-- Order Summary -->

<div class="col-lg-5">


<div class="checkout-summary">


<h3>
🛒 Order Summary
</h3>

<hr>


{% for item in cart %}

<div class="d-flex justify-content-between mb-3">

<span>
{{ item.name }} 
(x{{ item.quantity }})
</span>


<span>
₹{{ item.price * item.quantity }}
</span>


</div>

{% endfor %}


<hr>


<h3 class="text-success">

Total ₹{{ total }}

</h3>


</div>


</div>


</div>

</div>


{% endblock %}